<div class='container'>
<h1 class="block-title"><%=@presenter.name%></h1>

    <ul class="list-group">
      <%@hash.sort {|a1,a2| a2[1].to_i<=>a1[1].to_i}.each do |key,value|%>
        <li class="list-group-item">
          <%=key%>
          <%=value%>
        </li>
      <%end%>
    </ul>

    <div class="row">
      <%=form_tag '/scores/update', method: :patch do %>
      <%@questions.each do |question| %>

        <div class="row">
          <br>
          <label><%=question.content%></label>
        </div>
        <div class="row">
          <%=select_tag :question_points, options_for_select([1,2,3,4,5],question.scores.where(["question_id=? and user_id=?", question.id, @current_user.id]).limit(1).first.points.to_i), prompt: " - Select Score - ",:name => "questions[][points]" %>
        </div>
        <%=hidden_field_tag :questions_question_id, question.id, :name=>"questions[][question_id]"%>
        <%=hidden_field_tag :questions_presenter_id, @presenter.id, :name=>"questions[][presenter_id]"%>
        <%=hidden_field_tag :questions_user_id, @current_user.id, :name=>"questions[][user_id]"%>
        <br>

      <%end%>
        <button type="submit">Submit</button>
<%end%>
</div>

</div>
