<div class="container">
  <h1>Table view of all judges scores</h1>
  <div>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Presenter Name</th>
          <th scope="col">User First Name</th>
          <th scope="col">User Surname</th>
          <th scope="col">Question</th>
          <th scope="col">Points for Question</th>
          <th scope="col">Final Ranks</th>

        </tr>
      </thead>
      <%@scores.each do |score|%>
        <tbody>
          <tr>
            <td><%=score.presenter.name%></td>
            <td><%=score.user.first_name%></td>
            <td><%=score.user.surname%></td>
            <td><%=score.question.content%></td>
            <td><%=score.points%></td>
            <td><%=score.presenter.finalRanks.find_by(['user_id=? and presenter_id=?', score.user.id,score.presenter.id]).final_rank%></td>
          </tr>
        </tbody>
      <%end%>
    </table>
    <a href="/pages/index.csv">
      <button class="btn btn-success">export table </button>
    </a>
  </div>


</div>
