<% if @presenters.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@presenters.errors.count, "error") %> prohibited this presenter from being saved:</h2>
    <ul>
    <% @presenters.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<%= form_for @user do |form| %>
  <%= form.text_field :email %>
  <%= form.submit %>
<% end %>

<div class="form-group">
  <label for="name">Name</label>
  <input type="text" class="form-control" value="<% @presenter.name %>">
</div>
<div class="form-group">
  <label for="photo">Photo</label>
  <input type="text" class="form-control" value="<% @presenter.photo %>">
</div>
 <div class="form-group">
  <label for="issue">Comments</label>
  <input type="text" class="form-control" value="<%= @presenter.comments %>">
</div>
<div class="form-group">
  <label for="description">Points</label>
  <input type="text" class="form-control" value="<% @presenter.points %>">
</div>
