<div class="jumbotron">
  <div class="container">
    <h1 class="block-title">Presenters</h2>
  </div>
</div>
<div class="container">
  <% if @current_user.admin %>
    <h3><%= link_to "Add Presenter", "/presenters/new" %></h3>
    <h3><%= link_to "View Questions", "/questions" %></h3>
    <br>
    <h3><u>Edit Presenters:</u> </h3>
    <% @presenters.each do |presenter| %>
      <a href="/presenters/<%= presenter.id %>"><h3><%= presenter.name %> </h3></a>
    <% end %>
  <% end %>
</div>
<div class="container padding-top">
<br>
<br>
  <ul class="list-group">
      <% @presenters.each do |presenter| %>
        <%presenter.ranks.each do |rank|%>
            <%if @current_user.id == rank.user_id && rank.scored == true %>
              <li class="list-group-item"><h3><%= presenter.name %> </h3>
              <%= link_to "Rank Presenter", "/scores/#{presenter.id}/edit", class: "btn btn-success" %>
              </li>
            <%elsif @current_user.id == rank.user_id && rank.scored == false%>
              <li class="list-group-item"><h3><%= presenter.name %> </h3>
              <%= link_to "Rank Presenter", "/scores/new/#{presenter.id}", class: "btn btn-success" %>
            </li>
            <%else%>
            <%end%>
        <%end%>
      <% end %>
  </ul>
</div>
