<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    <title>Fast Pitch!</title>

    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu|Roboto|Josefin+Sans|Pangolin|Shadows+Into+Light|PT+Sans:400,700|Lato:100,300,400" rel='stylesheet' type='text/css'>

  </head>

  <body>
    <%= render "layouts/alerts" %>
    <%= render "layouts/navbar" %>
  <%= yield %>

  </body>
</html>
